.default-option-container {
  padding-left: 10px;
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
}

.default-option-button {
  width: 200px;
  height: 45px;
  margin: 20px;
  background-color: #ebf3ff;
  border-radius: 8px;
  font-family: Roboto;
  font-size: 18px;
  line-height: 32px;
  color: #334155;
  text-align: left;
  padding-left: 20px;
  border: 1px solid #ebf3ff;
  cursor: pointer;
}

.default-option-button:hover {
  border-color: #6582b6;
}

.selected-default-option {
  background-color: #5b6f94;
  color: #f8fafc;
}

@media screen and (min-width: 1200px) {
  .default-option-button {
    width: 250px;
  }
}
